@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ontario Craft Brewing</h1>
    <p class="lead">Local means fresh. Great taste and quality are always at the forefront of Ontario Craft Beer. Local, small batch brewing and a freshness guarantee are just the beginning.</p>
    <p><a href="http://www.ontariocraftbrewers.com/content.php?nextpage=brewphilosophy" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bruce Peninsula, Southern Georgian Bay & Lake Simcoe</h2>
        <p>
            
        </p>
        <p><a class="btn btn-default" href="http://www.ontariocraftbrewers.com/breweriesList.php?type=region">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Huron, Perth, Waterloo & Wellington</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://www.ontariocraftbrewers.com/breweriesList.php?type=region">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Haliburton Highlands to Ottawa Valley</h2>
        <p></p>
        <p><a class="btn btn-default" href="http://www.ontariocraftbrewers.com/breweriesList.php?type=region">Learn more &raquo;</a></p>
    </div>
</div>